// Define variables
$logo-height: 40vmin;
$header-background-color: #282c34;
$link-color: #61dafb;

// Define mixins
@mixin logo-spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Define styles
.App {
  text-align: center;

  &-logo {
    height: $logo-height;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: logo-spin infinite 20s linear;
    }
  }

  &-header {
    background-color: $header-background-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &-link {
    color: $link-color;
  }
}

// Define animations
@keyframes logo-spin {
  @include logo-spin-animation;
}
